includes:
    - phpstan-baseline.neon
parameters:
    parallel:
        jobSize: 64
        maximumNumberOfProcesses: 256
        minimumNumberOfJobsPerProcess: 4
        processTimeout: 240.0
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - bin
        - config
        - src
        - test
    fileExtensions:
        - php
    level: max
    checkMissingIterableValueType: false
