<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" verbose="true">

    <testsuites>
        <testsuite name="image-optimizer">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="intl.default_locale" value="en_US"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/phpunit"/>
    </logging>

</phpunit>
